body {
    background-color: gray;
    color: yellow;
}

.box {
    width: 500px;
    margin: 40px auto 0 auto;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: white;
}

.class01 {
    color: aqua;
}

.class02 {
    color: lightgreen;
}

#id01 {
    color: orange;
}