/* comments
color link - https://coolors.co/0e1c36-fffffc-#A27E8E-8c1c13
10/9/2020 @ 9:01pm

*:root {
	--red-color: #8C1C13;
	--blue-color: #0E1C36;
	--gray-color: #A27E8E;
	--white-color: #FFFFFC;
	--heading-font: Helvetica, Arial, sans-serif;
	--paragraph-font: Helvetica, Arial, sans-serif;  
}
*/

/* varibales for vont and colors */
:root {
	
	/* site colors: var(--color-name) */
	--red-color: #8C1C13;
	--blue-color: #0E1C36;
	--gray-color: #717171;
	--white-color: #FFFFFC;
	--orange-color: #FFC07F;
	/*--orange-color-old: #FF9B42;*/

	/* site fonts var(--style-font) */
	--heading-font: Helvetica, Arial, sans-serif;
	--paragraph-font: Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--red-color);
	max-width: 750px;
	margin: 0 auto;
	padding: 1em;
}

img {
	max-width: 100%;
}

h1 {
	font-family: var(--paragraph-font);
	color: var(--white-color);
}

h2 {
	font-family: var(--paragraph-font);
	color: var(--blue-color);
	border-bottom: 1px solid var(--blue-color);
	font-size: 1.25em;
}

header, footer {
	color: var(--white-color);
	background-color: var(--blue-color);
	padding: 8px;
	border-radius: 15px;
	
}

header {
	padding: 1em;
}

footer {
	font-size: .8em;
	padding: .5em;
}

header>h1, h4 {
	padding: 0em;;
}

a {
	text-decoration: none;
}

/* text styles */
p, ul, li, script {
	font-family: var(--paragraph-font);
	color: var(--red-color);
	font-weight: 700;
	/*padding: 1em;*/
}

/* list styles */
ul, li {
	margin: 10px;
	padding-left: 0em;
}

/* unvisited link, visited link, selected link  */
a:link, a:visited {
  color: var(--blue-color);
  text-decoration: none;
  font-weight: normal;
}

/* mouse over link */
a:hover {
  color: var(--orange-color);
}

/* link clicked, link focused */
a:active {
	color: var(--red-color);
  }

/* profile photo float right */
.family {
	float: right;
	box-shadow: 0 0 13px var(--gray-color);
    max-width: 380px;
}

/* link clicked, link focused */
main {
	background-color: var(--white-color);
	max-width: 700px;
	margin: 0 auto;
	padding: 1em;
}

/* text for footer box */
.foot {
	text-align: center;
	color: var(--white-color);
}

/* text for footer box */
.update {
	text-align: center;
	color: var(--orange-color);
}

/* FOOTER ONLY: unvisited link, visited link, selected link  */
footer a, footer a:link, footer a:visited {
    color: var(--white-color);
}

/* FOOTER ONLY: mouse over link */
footer a:hover {
    color: var(--red-color);
}

/* FOOTER ONLY: link clicked, link focused */
footer a:active, footer a:focus {
    color: var(--gray-color);
}


/* --- responsive styles > 550px --- */

@media screen and (max-width: 550px) {
	.eric {
	  float: none;
	  align-items: center;
	  box-shadow: none;
	  max-width: 250px;
	}

	h2 {
		font-size: 1em;
		text-align: center;
		padding: 5px;

	main {
		max-width: 475px;
		padding: .85em;
	}
}