/* for simplicity this page uses the variables defined in the weather site project's global.css file */
@import "global.css";

body {
    background-color: var(--gray-color);
}

h1 {
font-size: 2rem;
}

h1, footer {
    color: var(--white-color);
    text-align: center;
    background-color: var(--dark-color);
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: var(--subhead-font);

}

picture {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 20px;
}

img {
    filter: blur(0em);
    transition: filter 3s;
    width: 300px;
    height: 300px;
}

/* footer box - main text */
.foot {
    padding: 5px 0 0 0;
    text-align: center;
    margin: 0px;
}

/* footer box - styles date text*/
.update {
    color: var(--yellow-color);
    font-weight: 500;
    padding: 0 0 5px 0;
    text-align: center;
    margin: 0 0 0 0;
}

/* CONTACTBLOCK ONLY: unvisited link, visited link, selected link  */
.contactBlock a, .contactBlock a:link, .contactBlock a:visited {
    color: var(--dark-color);
    text-decoration: none;
}

/* FOOTER ONLY: mouse over link */
.contactBlock a:hover {
    color: var(--pink-color);
}

/* FOOTER ONLY: link clicked, link focused */
.contactBlock a:active, footer a:focus {
    color: var(--yellow-color);
}


/* FOOTER ONLY: unvisited link, visited link, selected link  */
footer a, footer a:link, footer a:visited {
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
}

/* FOOTER ONLY: mouse over link */
footer a:hover {
    color: var(--yellow-color);
}

/* FOOTER ONLY: link clicked, link focused */
footer a:active, footer a:focus {
    color: var(--peach-color);
}