/* comments
color link - https://coolors.co/6f5649-161032-db3896-fdbd5d-ffeac2-f5f5f5

google font import */
    @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

/* varibales for font and colors */
:root {
	/* site colors: var(--color-name) */
        --umber-color: #6f5649;
        --pink-color: #DB3896;
        --yellow-color: #fdbd5d;
        --peach-color: #ffeac2;
        --cultured-color: #F5F5F5;
        --dark-color: #161032;

    /* site fonts var(--style-font) */
        --heading-font: 'Poiret One', cursive;
        --subhead-font: 'Ubuntu Condensed', sans-serif;
        --main-font: 'Ubuntu', sans-serif;
}

/* body page styles */
body {
    color: var(--dark-color);
    line-height: 1.5;
    font-size: 16px;
}

/* header styles */
header {
    background-color: var(--umber-color);
    color: var(--cultured-color);
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding: 5px 0;
    display: flex;
}

/* main styles */
main {
    font-family: var(--main-font);
    max-width: 960px;
    margin: 0 auto;
}

/* footer styles */
footer {
    background-color: var(--umber-color);
    font-family: var(--main-font);
    color: var(--cultured-color);
    max-width: 1000px;
    margin: 0 auto;
}

/* motto text styles */
.motto {
    font-family: var(--subhead-font);
    color: var(--cultured-color);
    text-align: right;
    padding: 0;
  }

/* main nav styles - includes responsive hamburger */

/* main nav text styles */
nav {
    background-color: var(--dark-color);
    font-family: var(--main-font)
}

/* nav hamburger style */
nav button {
    background-color: transparent;
    color: var(--cultured-color);
    font-size: 1.6rem;
    padding: 10px;
    margin: 0 5px;
    border: none;
}

/* nav ul style */
nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* nav link style */
nav ul li a {
    border-top: 1px solid var(--dark-color);
    color: var(--cultured-color);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: .8rem 2%;
    font-size: 1rem;
    display: block;
}

/* nav link active page style */
nav ul li.active a {
    background-color: var(--umber-color);
    color: var(--cultured-color);
}

/* nav hover over link style */
nav ul li a:hover {
    background-color: var(--pink-color);
    color: var(--cultured-color);
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
}

/* nav: used for hamburger style, hides links inside icon until clicked on */
nav ul.hide {
    display: none;
}

/* heading styles */
h1 {
    font-family: var(--heading-font);
    font-weight: normal;
    font-size: 1.25rem;
    margin: 0;
}

h2 {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

h3 {
    font-family: var(--subhead-font);
    color: var(--pink-color);
    font-size: 1.25rem;
    padding-left: 10px;
    text-align: left;
  }

/* used to align GEMi site H1 text */
.headings {
    flex-direction: column;
    display: flex;
}

/* style the place holder boxes */
.placeholder {
    border: 1px dashed var(--dark-color);
    background-color: var(--peach-color);
    color: var(--dark-color);
    margin: 10px auto;
    display: block;
    padding: 1rem;
}

/* span style the place holder boxes with pink text */
.phcolor {
    color: var(--umber-color);
    font-weight: bold;
    font-style: italic;
}

/* logo image style */
.logo {
    margin-right: 10px;
    height: auto;
    width: 60px;
}

/* clearsfix for nav */
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

/* footer box - main text */
.foot {
    padding: 5px 0 0 0;
    text-align: center;
    margin: 0px;
}

/* footer box - styles date text*/
.update {
    color: var(--peach-color);
    padding: 0 0 5px 0;
    text-align: center;
    margin: 0px;
}

/* FOOTER ONLY: unvisited link, visited link, selected link  */
footer a, footer a:link, footer a:visited {
    color: var(--cultured-color);
    text-decoration: none;
}

/* FOOTER ONLY: mouse over link */
footer a:hover {
    color: var(--pink-color);
    text-decoration: none;
}

/* FOOTER ONLY: link clicked, link focused */
footer a:active, footer a:focus {
    color: var(--yellow-color);
    text-decoration: none;
}