/* all variables are defined in the global.css file */
@import "global.css";


/* everything under 600px */

body {
  line-height: 1.5;
  color: var(--dark-color);
  font-family: var(--main-font);
}

header {
  max-width: 205px;
  padding-bottom: 10px;
}

nav {
  background-color: var(--white-color);
  font-weight: bold;
}

nav button {
  padding: 10px;
  margin-top: -75px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--dark-color);
  float: right;
  box-shadow: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: var(--dark-color);
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color .3s;
  font-weight: bold;
}

nav ul li.active a {
  background-color: var(--orange-color);
  color: var(--white-color);
}

nav ul li a:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
}

nav ul.hide {
  display: none;
}

.logo {
  max-width: 100px;
  margin-top: 10px;
}

.subhead {
  margin: 0;
  font-size: .75rem;
  padding: 0 12px;
}
h1 {
  line-height: 2rem;
  margin: 20px 10px;
  padding: 0 0 0 10px;
  /* text-align: center; */
  font-family: var(--heading-font);
  color: var(--red-color);
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 20px 10px;
  padding: 0;
  /* text-align: center; */
  font-family: var(--heading-font);
  color: var(--red-color);
}

h2.emphRed, h2.emphOrange, h2.emphContact  {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 10px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: var(--heading-font);
  min-width: 275px;
}

h2.emphRed {
  border-bottom: 4px solid var(--blue-color); 
}

h2.emphOrange {
  border-bottom: 4px solid var(--orange-color); 
}

h2.emphContact {
  font-size: 1.25rem;
  border-bottom: 4px solid var(--blue-color); 
}

a {
  text-decoration: none;
  color: var(--dark-color);
}
.attribute {
  color: var(--orange-color);
}

a img {
  border: none;
}

img {
  object-fit: cover;
}

.weatheralert {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  padding: 20px 60px 20px 20px;
  display: none;
  text-align: left;
  font-weight: bold;
  position: relative;
}
.closebtn {
  color: var(--dark-color);
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 8px;
  right: 25px;
  text-align: right;
}
.closebtn:hover {
  color: var(--dark-color);
}
.button {
  display: inline-block;
  font-size: .8rem;
  color: var(--white-color);
  background: var(--orange-color);
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}

.thanks {
  text-align: center;
  width: 100%;
}

.thankYou {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}

.moreinfo {
  border: 1px solid var(--dark-color);
  padding: 8px 15px;
  border-radius: 5px;
}

.calltoaction {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  padding: 10px 15px;
  box-shadow: 0 5px 15px var(--shadow-50);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.herodiv {
  position: relative;
}

.hero-ph {
  width: 100%;
}

.aboutChamber {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.chamber {
  background-color: var(--tan-color);
  /* background-color: var(--white-color); */
  max-width: 320px;
  border-radius: 8px;
  /* box-shadow: 0 5px 15px var(--shadow-50); /* .0.3 */
  margin: 0 16px 30px;
  text-align: center;
  padding: 0 8px;
}

.chamber img {
  width: 80%;
  display: inline-block;
}

.chamber p, .chamber li {
  text-align: left;
  font-size: .8rem;
  padding: 0 10px;
  margin: 0;
}


.adList {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.localAds {
  background-color: var(--white-color);
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--shadow-50); /* .0.3 */
  margin: 0 16px 30px;
  text-align: center;
  padding: 0 8px;
}

.localAds img {
  width: 80%;
  display: inline-block;
}

.localAds p {
  text-align: center;
  font-size: .8rem;
  padding: 0 10px;
  margin: 0;
}

.localAds .button {
  margin: 20px;
}

.weather {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 128px;
  align-items: center;
  justify-items: center;
  background: url(../images/index/bridge-320.jpg) center/cover no-repeat;
  padding: 30px 15px 10px;
  margin-bottom: 40px;
}

.weathersummary {
  width: 100%;
  max-width: 320px;
  background-color: --shadow-70;
  color: var(--cream-color);
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 5px 15px --shadow-50;
  border-radius: 5px;
}

.weathersummary h2 {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.weathersummary p {
  margin: 5px 0;
  font-weight: bold;
}

.threeday {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: center;
  justify-items: stretch;
  width: 100%;
  max-width: 320px;
}

.threeday ul {
  background-color: --shadow-70;
  color: var(--white-color);
  box-shadow: 0 5px 15px var(--shadow-50);
  border-radius: 5px;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.threeday li {
  height: 24px;
}

.threeday li.icon {
  height: 40px;
}

.threeday li img {
  width: 40px;
  padding: 0;
  margin: 0;
}

.location {
  padding: 0 15px 10px;
}

.location1,
.location2 {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 5px 15px var(--shadow-50);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.location1 img,
.location2 img {
  width: 100%;
}

footer {
  background-color: var(--dark-color);
  font-size: .75rem;
  color: var(--white-color);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

footer h2.contacthead {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--white-color);
  border-bottom: 2px solid var(--orange-color);
  width: 70%;
  padding: 0 0 10px;
  text-align: center;
  margin: 0 auto;
}

.contact {
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.contact p {
  font-size: 1.25em;
}

.contactItem {
  display: grid;
  grid-template-columns: 32px 1fr;
  text-align: left;
  margin: 0;
}

.contact h3,
.social {
  grid-column: 1;
  color: var(--orange-color);
  text-align: center;
  font-family: var(--heading-font);
}

.contactItem img {
  align-self: center;
  width: 24px;
}

.contactItem p {
  margin: 5px;
}

.formMap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: auto;
  margin: 0 auto;
}

.map {
  background-color: transparent;
  margin-right: 10px;
}

.social img {
  margin: 15px 1px 10px 0;
  width: 30px;
}

.info {
  margin: 20px;
  /* padding-bottom: 20px; */
}

.back {
  margin: 20px 0 0 20px;
  display: inline-block;
  font-size: .8rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}

.specHero {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.specHero img {
  width: 100%;
}

.pricing table,
.pricing th,
.pricing td {
  border: 1px solid var(--dark-color);
  padding: 2px 4px;
}

.pricing {
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--dark-color);
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.pricing th {
  background-color: var(--dark-color);
  border-top: none;
  color: var(--white-color);
}

th:first-of-type {
  border-top-left-radius: 4px;
}

th:last-of-type {
  border-top-right-radius: 4px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 4px;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 4px;
}

form fieldset {
  margin: 3rem 0;
  border: 1px solid transparent;
  background-color: var(--gray-color);
  border-radius: 10px;
}

form legend {
  color: var(--dark-color);
  position: relative;
  top: -1rem;
  font-weight: bold;
}

form label.top,
form div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: var(--dark-color);
  font-size: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: .75rem;
  color: var(--dark-color);
  box-sizing: border-box;
  width: 100%;
}

.radio {
  flex-direction: column;
  margin: 0;
}

.radio p {
  margin: 0;
}

form label.sbs {
  display: flex;
  align-items: center;
  color: var(--dark-color);
  padding-right: 10px;
  margin-bottom: 0;
}

input[type="radio"] {
  margin-right: 2px;
}

form input.submitBtn {
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  width: 200px;
  margin: 0 auto;
}

form input[value="Ask"] {
  justify-content: center;
}

form label.top input:required {
  border-left: 6px solid var(--orange-color);
}

form label.top input:required:valid {
  border-left: 6px solid var(--blue-color);
}

form {
  margin: 0 auto;
  max-width: 320px;
  width: 75%;
}


.scoot {
  display: block;
  width: 200px;
  margin: 20px auto;
  animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.thankYouText1,
.thankYouText2,
.thankYouText3 {
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
  text-align: center;
}

.thankYouText2 {
  animation-delay: .6s;
}

.thankYouText3 {
  animation-delay: .7s;
}

.embededmap {
  margin: 0 auto;
  max-width: 320px;
}
 /* --
.embededmap iframe {
  width: 100%;
  height: 320px;
} -- */


.cozumelmap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.about {
  margin: 0 20px;
}
.cozumelmap img{
  width: 100%;
  max-width: 600px;
}
.recommended {
  background-color: var(--white-color);
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--shadow-50); /* .0.3 */
  text-align: center;
  padding:20px;
  overflow: hidden;
}
.recommended img {
  max-width: 200px;
  border-radius: 8px;
}
.recommended .highlight {
  grid-column: 2;
  color: var(--blue-color);
  font-size: 16px;
  padding: 0px
}
.expimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 20px 0;
  column-gap: 10px;
}
.expimg img:nth-child(1) {
  width: 100%;
  max-width: 300px;
  grid-column: 1;
}
.expimg img:nth-child(2) {
  width: 100%;
  max-width: 300px;
  grid-column: 2;
}
.expheader {
display: flex;
align-items:center;
}
.expheader .pill, .expheader .pill2 {
  margin-left: 10px;
  }
.experiences {
max-width: 600px;
margin: 0 20px;
}

/*-- 
.experiences iframe {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 382px;
} --*/

.pill {
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 64px;
  padding:3px;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
}
.pill2 {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  width: 64px;
  padding:3px;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
}
.headsup {
  margin-top: 40px;
}
.atts {
  max-width: 320px;
  margin: 0 auto;
}
.atts a {
  color: var(--orange-color) !important;
}

/* --- span styles --- */

.bold {
  font-weight: bold;
}

.iBold {
  font-style: italic;
  font-weight: 500;
  line-height: 2;
}

.iBoldthin {
  font-style: italic;
  font-weight: 700;
  color: var(--dark-color);
}

.starMovie {
  /* text-align: justify; */
  background-color: var(--gray-color);
  margin: 0 auto;
  padding: 20px;
}

.starMovie img{
  width: 100%;
  box-shadow: 0 0 10px var(--dark-color);
}

.starMovie h4 {
  /* text-align: justify; */
  margin: 0 0 15px 5px;
  padding: 0;
}

#directoryButtons {
  margin-left: 10px;
  color: var(--orange-color);
  }

  /* --- directory css --- */

/* button, */ #dirh2 {
  margin-left: 1px;
  color: var(--dark-color);
}

/* ./* button, */ */ .directlist, .directgrid {
  margin-left: 10px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid var(--dark-color);
  margin: 0 .7rem 0 .7rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  font-weight:300;
  background-color: var(--gray-color);
  color: var(--dark-color);
  text-align:center;
  transition: all 0.2s;
}

/* .button:hover, */ .directlist:hover, .directgrid:hover {
  color: var(--white-color);
  background-color: var(--dark-color);
  cursor: pointer;
}

.directcards {display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  margin-bottom: 1rem;
  margin-left: 1rem;
  gap: 1rem;
  justify-content: center;
}  

.directcards img {display: block;
  margin: 10px;
  max-width: 200px;
}

.directcards span {
  display: block;
  font-family: var(--main-font);
  color: var(--dark-color);
  margin: 5px;
}

.directcards p {
      color: var(--dark-color);
}

.directcards section {
margin-bottom: 10px;
}

.list section{display: grid;
  width: 100%;
  grid-template-areas: "name name name"
                  "img span1 web"
                  "img span2 phone";
              gap: 5px;
              column-gap: .5rem;
              justify-content: start;
              margin-left: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
      }

.list img {
  grid-area: img; max-width: 100px;
}

.list section span:first-child {
  grid-area: span1;
}

.list section span:nth-child(2) {
  grid-area: span2;
}

.list section a {
  grid-area: web;
}

.list section p:first-child {
  grid-area: name;
}

.list section p:last-child {
  grid-area: phone;
}

.list section p {
  margin: 5px;
}

.list span {
  font-family: var(--main-font);
  color: var(--dark-color);
}

.list p {
  color: var(--dark-color);
}

/* button, */ #dirh2 {
      margin-left: 10px;
      color: var(--dark-color);
}

.directlist {
  margin-right: 0px;
  margin-left: 10px;
}

.directgrid {
  margin-left: 0px;
}





/* Animations */

@-webkit-keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}