/* site colors

link - https://coolors.co/094074-eeebd3-a98743-f7c548-8c1c13
indigo Dye - #094074
beige - #EEEBD3
metallic sunburst - #A98743
maize crayola - #F7C548
dark red - #8C1C13

*/


html {
	background-color: #094074
}

header, main, footer {
max-width: 960px;
margin: 0 auto;
box-align: center
background-color: #EEEBD3;
font-family: Helvetica, Arial, sans-serif;
color: #8C1C13;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	background: #A98743;
	color: #094074;
	padding: 1em
}