/* site colors

link - https://coolors.co/094074-eeebd3-a98743-f7c548-8c1c13
indigo Dye - #094074
beige - #EEEBD3
metallic sunburst - #A98743
maize crayola - #F7C548
dark red - #8C1C13

*/

body {
	
	background-color: #094074;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;

}

header img {
	width: 100px;
	height: auto;
	/*padding: 2px 0;*/
}

.headings {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 2rem;
	color: navy;
	margin: 0;
}

.motto {
	font-style: italic;
	color: #8C1C13;
	font-size: 1rem;
	letter-spacing: 1.5pt;
}


/*html {
	background-color: #094074
}*/


header, main, footer {
	max-width: 960px;
	margin: 0 auto;
	background-color: #EEEBD3;
	font-family: Helvetica, Arial, sans-serif;
	color: #8C1C13;
	align-items:center;
}


.logo{
	padding: 0
}
*/


.section-block {
	background: #A98743;
	color: #094074;
}


/* -- MAIN HEADER NAVIGATION STYLE -- */

.main-nav {
	/*background-color: #F7C548; */
	line-height: 1.5em;
	text-align: center;
	font-size: 1em
}



.main-nav>ul {
	list-style-type: none;
	display: flex
}

.main-nav a {
	padding: 1em;
	min-width: 70px
}

.main-nav a:link, nav a:visited {
	color: #8C1C13
	
}

.main-nav a:hover {
	color: #F7C548;
	background-color: #EEEBD3
}