/*  comments
*   link to color pallet: https://coolors.co/ffba08-3f88c5-032b43-677b8c-ffffff
*
*
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@600&display=swap');

:root {
	--color-blue: #3f88c5;
	--color-gray: #677b8c;
	--color-yellow: #ffba08;
	--color-darkBlue: #032b43;
	--color-white: #ffffff;
	--heading-font: 'Source Sans Pro', sans-serif;
	--paragraph-font: 'Roboto', sans-serif;
}

html {
	background-color: var(--color-blue)
}

body {
	max-width: 900px;
	margin: 0 auto;
	background-color: var(--color-white);
	padding: 1em
}

img {
	max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--color-yellow)
}

header {
	padding: 1em;
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-gray)
}

header>h1 {
	color: var(--color-darkBlue)
}

p {
	font-family: var(--paragraph-font);
	color: var(--color-gray);
	padding: 1em
}

.colors {
	width: 100%;
	min-width: 350px;
	margin: auto;
	text-align: center;
	color: var(--color-white);
	font-size: 1em;

}

.colors th {
	background-color: #999
}

.colors td {
	width: 25%;
	height: 3em
}

.primary {
	background-color: var(--color-blue)
}

.secondary {
	background-color: var(--color-gray)
}

.accent1 {
	background-color: var(--color-yellow)
}

.accent2 {
	background-color: var(--color-darkBlue)
}

/* NAV STYLES */

.main-nav {
	background-color: var(--color-darkBlue);
	line-height: 3em;
	text-align: center;
	font-size: 1.2em
}

.main-nav>ul {
	list-style-type: none;
	display: flex
}

.main-nav a {
	border-radius: 25px;
	padding-top: .25em;
	padding-bottom: .35em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	min-width: 70px
}

.main-nav a:link, .main-nav a:visited {
	color: var(--color-white)
}

.main-nav a:hover {
	background-color: var(--color-white);
	color: var(--color-darkBlue);
	line-height: .25em;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
}

/* -- sets color of active page user is on -- */
.active{
	color: var(--color-yellow);
}

/* -- sets color of other pages user is not on -- */
.inactive {
	color: var(--color-white);
}

.footer {
	text-align: center;
}