html {
	background-color: #A31621
}

header, main, footer {
  max-width: 960px;
  margin: 0 auto;
  color: white
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	color: lightgray
}

p {
	font-family: Helvetica, Arial, sans-serif;
	color: #9BA7C0;
	padding: 1em
}

/* unvisited link */
a:link {
  color: lightgray;
}

/* visited link */
a:visited {
  color: lightgray;
}

/* mouse over link */
a:hover {
  color: darkgray;
}

/* selected link */
a:active {
  color: lightgray;
}