/*comments
color link - https://coolors.co/0e1c36-fffffc-a27e8e-8c1c13

*/

:root {
	--red-color: #8C1C13;
	--blue-color: #0E1C36;
	--gray-color: #A27E8E;
	--white-color: #FFFFFC;
	--accent3-color: #541418;
	--accent4-color: #47BDDF;
	--main-text-color: black; 
	--heading-font: "IM Fell French Canon SC";
	--paragraph-font: Lato, Helvetica, sans-serif;
/*Colors I'm considering using: C7EEF5, 95FFFF, 558DCA, F07C41, 022249, White text
  FBEEC1, BC986A, DAAD86, 659DBD, 8D8741, white text*/    
}

html {
	background-color: var(--red-color);
}

body {
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color:var(--blue-color) ;
}

header {
	padding: 1em;
	text-align: center;
	color: var(--white-color);
	background-color: var(--white-color);
}

header>h1 {
	color: var(--gray-color);
}

p {
	font-family: var(--paragraph-font);
	color: var(--main-text-color);
	padding: 1em;
}

.colors {
	width: 100%;
	min-width: 350px;
	margin: auto;
	text-align: center;
}

.colors th {
	background-color: #999;
}

.colors td {
	width: 25%;
	height: 3em;
}

.primary {
	background-color: var(--red-color);
}

.secondary {
	background-color: var(--blue-color);
}

.accent1 {
	background-color: var(--gray-color);
}

.accent2 {
	background-color: var(--white-color);
}

nav {
	background-color: var(--red-color);
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
}

nav>ul {
	list-style-type: none;
	display: flex;
}

nav a {
	padding: 1em;
	min-width: 70px;
}

nav a:link,
nav a:visited {
	color: var(--accent3-color);
}

nav a:hover {
	color: var(--accent4-color);
	background-color: var(--red-color);
}