/* comments

google font import */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

/* varibales for font and colors
color link - https://coolors.co/6f5649-161032-db3896-fdbd5d-ffeac2-f5f5f5 */

:root {
	/* site colors: var(--color-name) */
        --umber-color: #6f5649;
        --pink-color: #DB3896;
        --yellow-color: #fdbd5d;
        --peach-color: #ffeac2;
        --eggshell-color: #FAF0DC;
        --platinum-color: #ebebeb;
        --cultured-color: #F5F5F5;
        --white-color: #fff;
        --gray-color: #c4c4c4;
        --dark-color: #161032;

    /* site fonts var(--style-font) */
        --heading-font: 'Poiret One', cursive;
        --subhead-font: 'Ubuntu Condensed', sans-serif;
        --main-font: 'Ubuntu', sans-serif;
}

/*35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35em) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  main, footer {
    font-size: 1rem;
  }
  
  /* .navbackground {
  background: #77bdd9;
  background: -moz-linear-gradient(top, #77bdd9 0%, #51abcc 100%);
  background: -webkit-linear-gradient(top, #77bdd9 0%, #51abcc 100%);
  background: linear-gradient(to bottom, #77bdd9 0%, #51abcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77bdd9', endColorstr='#51abcc', GradientType=0);
  } */

  .motto {
    font-size: 1.5rem;
  }

  .logo {
    width: 160px;
  }

  .hero-image {
    margin: 10px auto;
    border: 1px solid var(--dark-color);
    width: 100%;
    height: auto;
  }

  .fiveday {
    display: block;
    margin: 0;
  }

  .fiveday table {
    text-align: center;
    border: 1px solid  var(--dark-color);


  }

  table th {
    background-color: var(--yellow-color);
    color: var(--white-color);
  }

  table img {
    width: 50%;
  }

  table, th {
    border: 1px solid var(--dark-color);
    border-collapse: collapse;
  }

  table td {
    border-right: 1px solid var(--dark-color);
    ;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .snowshoe {
    max-width: 960px;
    margin: 20px 0 20px;
    padding: 30px 30px;
  }

  .snowshoe img {
    float: right;
    width: 300px;
    margin: 0 0 15px 50px;
  }

  .snowshoe h4 {
    text-align: left;
  }

  .contactInfo {
    margin: 30px 30px 0;
    grid-column: 3/5;
  }

  .contactBlock {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 0 0;
    height: 300px;
  }

  .map {
    width: 250px;
    display: block;
    grid-column: 2/3;
    align-self: center;
    border: 1px solid var(--pink-color);
  }

  .pancakeBanner {
    padding: 20px;
    font-size: 1.5rem;
  }

}