/* THIS FILE IS A LIST OF GLOBAL SITE PERAMETERS
 * anthing added to this style sheet will be imported
 * on the small, medium and large  style pages */

/* google font import */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

/* varibales for font and colors
 * coolors link - https://coolors.co/6f5649-161032-db3896-fdbd5d-ffeac2-faf0dc-f5f5f5
 */

:root {
	/* site colors: var(--color-name) */
      --brown-color: #6f5649;
      --pink-color: #DB3896;
      --darkpink-color: #9a1f67;
      --yellow-color: #fdbd5d;
      --peach-color: #ffeac2;
      --cream-color: #FAF0DC;
      --silver-color: #ebebeb;
      --white-color: #F5F5F5;
      --gray-color: #c4c4c4;
      --dark-color: #161032;

  /* site transparent colors: var(--color-##) */
      --brown-75: rgba(111, 86, 73, 0.75);
      --brown-30: rgba(111, 86, 73, 0.30);
      --dark-75: rgba(22, 16, 50, 0.75);
      --dark-50: rgba(22, 16, 50, 0.50);
      --dark-25: rgba(22, 16, 50, 0.25);
      --peach-50: rgba(225, 234, 194, 0.8);

  /* site fonts var(--style-font) */
      --heading-font: 'Poiret One', cursive;
      --subhead-font: 'Ubuntu Condensed', sans-serif;
      --main-font: 'Ubuntu', sans-serif;

}